# This Notebook explores the SCAR GeoMAP dataset released in 2019
## Cox S.C., Smith Lyttle B. and the GeoMAP team (2019). Lower Hutt, New Zealand. GNS Science. Release v.201907.
### [Data Available Here](https://data.gns.cri.nz/ata_geomap/index.html?content=/mapservice/Content/antarctica/www/index.html)
### Notebook by Sam Elkind

Initially, I'll look at the data in terms of polygon counts. This section will be focused on examining the data schema and frequency of values occurring within specific fields. This investigation will focus on finding inconsistencies in the data attribution, but also could stimulate some discussion regarding relationships between columns.

Next, I'll look at the data in terms of polygon area and data attribution. How much surface water has been mapped? How much till has been mapped? How much outcropping rock is of Jurassic age?

### Configure packages, paths, and load data

In [1]:
import os
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
import pprint as pp
from tabulate import tabulate

In [2]:
def plot_value_counts(field_name, values_to_plot, counts, counts_norm):
    fig, ax = plt.subplots(2, 1, figsize=(30,15))
    fig.tight_layout(pad=2.0)
    fig.subplots_adjust(top=.94)
    fig.suptitle(f"Frequency of {field_name} values", size=18)

    ax[0].set_title(field_name)
    ax[1].set_title(f"{field_name} normalized")
    for i, v in enumerate(counts[:values_to_plot]):
        ax[0].text(i - .5, v, str(v), color='black', fontweight='bold')
    for i, v in enumerate(counts_norm[:values_to_plot]):
        ax[1].text(i - .5, v, f"{str(v * 100)[:3]}%", color='black', fontweight='bold')
    ax[0].bar(counts.index[:values_to_plot], counts[:values_to_plot])
    ax[1].bar(counts_norm.index[:values_to_plot], counts_norm[:values_to_plot])

In [3]:
geol_path = f"{os.getcwd()}/data/ATA_SCAR_GeoMAP_geology.gdb"
print(geol_path)

/home/gt/geomap/data/ATA_SCAR_GeoMAP_geology.gdb

In [4]:
data = gpd.read_file(geol_path)

# This notebook is to investigate the relationship between sourcecode and description

In [5]:
# helpers
display_cols = ["SOURCECODE", "DESCR", "MAPSYMBOL", "NAME", "SOURCE"]

In [6]:
src_codes = data["SOURCECODE"].unique()
descriptions = data["DESCR"].unique()

In [7]:
print(f"There are {len(src_codes)} unique source codes and {len(descriptions)} unique descriptions")

There are 801 unique source codes and 758 unique descriptions

In [8]:
src_code_description_pairs = data[display_cols].drop_duplicates(["SOURCECODE", "DESCR"])

In [9]:
print(f"There are {len(src_code_description_pairs)} sourcecode description pairs")

There are 852 sourcecode description pairs

### Let's look at source codes that have multiple descriptions and vice versa

In [12]:
src_code_descr_sets = sorted([data[data["SOURCECODE"] == i][display_cols].drop_duplicates("DESCR").sort_values(["DESCR", "SOURCE"]) for i in src_codes if len(data[data["SOURCECODE"] == i][display_cols].drop_duplicates("DESCR")) > 1], key=lambda x: len(x), reverse=True)
descr_src_code_sets = sorted([data[data["DESCR"] == i][display_cols].drop_duplicates("SOURCECODE").sort_values(["SOURCECODE", "SOURCE"]) for i in descriptions if len(data[data["DESCR"] == i][display_cols].drop_duplicates("SOURCECODE")) > 1], key=lambda x: len(x), reverse=True)

In [13]:
print(len(src_code_descr_sets))
print(len(descr_src_code_sets))

42
60

In [14]:
for i in src_code_descr_sets:
    print(i["DESCR"].values)
    display(i)

['Locally derived glacial till in moraines and rock glaciers, variably weathered, inferredto be derived from existing alpine glaciers'
 'Locally derived glacial till in moraines and rock glaciers, variably weathered; inferred to be derived from existing alpine glaciers'
 'Locally derived glacial till in moraines and rock glaciers: variably weathered: inferred to be derived from existing alpine glaciers'
 'Undifferentiated local glacier till']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
39753,Qtl,Locally derived glacial till in moraines and r...,Qs,older local glacial till,GeoMAP
40877,Qtl,Locally derived glacial till in moraines and r...,Qs,local glacial till,GeoMAP
43670,Qtl,Locally derived glacial till in moraines and r...,Qs,older local glacial till,Grindley & Laird 1969
75549,Qtl,Undifferentiated local glacier till,Qs,Quaternary till local glacier,GeoMAP

['Holocene local glacier till'
 'Locally derived variably weathered till in moraines and rock glaciers, usually associated with alpine glaciers'
 'Locally-derived variably weathered till in moraines and rock glaciers, usually associated with alpine glaciers'
 'Young locally derived glacial till in moraines and rock glaciers: associated with existing alpine glaciers']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75261,Htl,Holocene local glacier till,Hs,Holocene till local glacier,GeoMAP
43662,Htl,Locally derived variably weathered till in mor...,Hs,Holocene local glacier till,Grindley & Laird 1969
40124,Htl,Locally-derived variably weathered till in mor...,Hs,Holocene local glacier till,GeoMAP
40788,Htl,Young locally derived glacial till in moraines...,Hs,Holocene local glacier till,GeoMAP

['Supra-glacial till'
 'Surficial till on top of glacial ice and snow, may include active or mobile ice-cored till'
 'Surficial till on top of glacial ice and snow: may include some young active or mobile ice-cored till']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75689,Hts,Supra-glacial till,Hs,Holocene till supra-glacial,GeoMAP
37965,Hts,"Surficial till on top of glacial ice and snow,...",Hs,supraglacial till,GeoMAP
40811,Hts,Surficial till on top of glacial ice and snow:...,Hs,supra-glacial till,GeoMAP

['Grey, tan-weathering, thin-bedded fine-grained quartz and feldspar bearing sandstone with many thin interbeds of carboniferous pyritic siltstone and shale. Sandstone commonly thinly cross bedded.'
 'Orthopyroxene-quartz-feldspar gneiss (tonalitic to granitic orthogneiss) minor biotite-garnate-quartz gneiss, metasediments, and mafic granulite.'
 'dark-gray to black argillite and sandstone, minor siltstone and coal;  locally ripple-laminated or cross-bedded; volcanogenic detritus']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75668,Pp,"Grey, tan-weathering, thin-bedded fine-grained...",Ys,Pecora Formation,Ford et al. 1984
85559,Pp,Orthopyroxene-quartz-feldspar gneiss (tonaliti...,Rzn,None,Sheraton 1985. Geology of Enderby Land and Wes...
39383,Pp,"dark-gray to black argillite and sandstone, mi...",Ys,Polarstar Formation,Craddock et al. 1986

['Till in moraines on margins of ice sheets, ice shelves, or large glaciers occupying major valleys; commonly degraded or scree covered; multiple advances not always differentiated'
 'Till in moraines on margins of ice sheets, ice shelves, or large glaciers occupying the major valleys: commonly degraded and covered by scree: multiple advances not always differentiated'
 'Undifferentiated ice sheet margin till']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
40463,Qti,"Till in moraines on margins of ice sheets, ice...",Qs,older ice sheet margin till,GeoMAP
41408,Qti,"Till in moraines on margins of ice sheets, ice...",Qs,ice sheet margin till,GeoMAP
75325,Qti,Undifferentiated ice sheet margin till,Qs,Quaternary till ice sheet,GeoMAP

['Undifferentiated bouldery sandy till of uncertain age and origin'
 'Undifferentiated till in moraines of uncertain origin'
 'Undifferentiated till of uncertain origin']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
41367,Qt,Undifferentiated bouldery sandy till of uncert...,Qs,undifferentiated till,GeoMAP
46963,Qt,Undifferentiated till in moraines of uncertain...,Qs,undifferentiated till,GeoMAP
75279,Qt,Undifferentiated till of uncertain origin,Qs,Quarternary till unknown,GeoMAP

['Basanite, hawaiite' 'Peralkaline rhyolite'
 'Peralkaline trachyte, quartz-trachyte, peralkaline rhyolite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
64114,Mev_KF912c,"Basanite, hawaiite",Czb,Melbourne volcanic province,Kyle 1982
71469,Mev_KF912c,Peralkaline rhyolite,Czf,Melbourne volcanic province,LeMasurier & Thomson 1990 (Fig A.6.1)
70567,Mev_KF912c,"Peralkaline trachyte, quartz-trachyte, peralka...",Czf,Melbourne volcanic province,LeMasurier & Thomson 1990 (Fig A.6.1)

['older till' 'tonalite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
94940,To,older till,Czs,None,Ishikawa et al. 2000. Geological map of Mount ...
191,To,tonalite,JKh,felsic intrusive rocks (early Jurassic to earl...,Fleming & Thomson 1979_Graham Land

['Interlayered schist, psammitic schist, felsic gneiss, tremolite-actinolite schist, and minor marble, calc-silicate and conglomerate'
 'low grade regionally and thermally metamorphosed sedimentary and volcanic rocks of unknown age']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43447,s,"Interlayered schist, psammitic schist, felsic ...",Nn,undifferentiated Skelton Group,Barber 2003
7418,s,low grade regionally and thermally metamorphos...,?w,metasedimentary and metavolcanic rocks (age un...,Thomson & Harris 1979_Southern Graham Land

['Jurassic volcanic rocks of the Antarctic Volcanic Group'
 'volcanic and hypabyssal rocks, strongly altered by low grade metamorphism ']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
24589,Jv,Jurassic volcanic rocks of the Antarctic Volca...,Jv,Mount Poster Formation,Rowley et al. 1992
42465,Jv,"volcanic and hypabyssal rocks, strongly altere...",Jt,Thurston Island volcanics,Leat et al. 1993

['Undivided predominantly granulite-facies metamorphics, including orthopyroxene-biotite-quartz-feldspar gneiss (felsic orthogneiss), garnet-biotite-quartz-feldspar gneiss, metasediments, and mafic granulite '
 'siltstone, mudstone and fine grained, cross-bedded sandstone containing plant fossils in the English Coast area']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
86126,P,Undivided predominantly granulite-facies metam...,Rzn,None,Sheraton 1985. Geology of Enderby Land and Wes...
24985,P,"siltstone, mudstone and fine grained, cross-be...",Ys,continental or paralic sedimentary rocks (Perm...,Rowley et al. 1992

['Red beds with fanglomerates and braided channel deposits; upper part includes bioturbated siltstone and mudstone alternating with sandstone; trace fossils recorded'
 'Sandstone with minor siltstone, mudstone and diamictite deposited as turbidity currents in submarine fans. Variably deformed and foliated, metamorphosed to between anchizone to upper greenschist-facies during the Late Triassic to early Jurassic.']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75003,O1,Red beds with fanglomerates and braided channe...,EOs,Mount Provender Formation,Thomson et al. 1995
36999,O1,"Sandstone with minor siltstone, mudstone and d...",YTn,Greywacke Shale Formation,Flowerdew & Haselwimmer 2011

['Fluvial sequence of green sandstone and siltstone with pebble-conglomerate in the lower part, no fossils'
 'Protoliths equivalent to Greywacke Shale Formation but Late Triassic to early Jurassic metamorphism reached epidote amphibolite-facies grade.']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75052,O2,Fluvial sequence of green sandstone and siltst...,EOs,Otter Highlands Formation,Thomson et al. 1995
37004,O2,Protoliths equivalent to Greywacke Shale Forma...,YTx,Scotia Metamorphic Complex,Flowerdew & Haselwimmer 2011

['area known to be outcropping rock or cover deposits, exact nature of which is unknown'
 'rock outcrop of unknown lithology']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
40022,?,area known to be outcropping rock or cover dep...,?,unknown,GeoMAP
37093,?,rock outcrop of unknown lithology,?,outcrop of unknown rock type,Flowerdew & Haselwimmer 2011

['Porhyritic silicic volcanic rocks interbededded with volcaniclastic rocks, mafic volcanics, quartzites and marbles'
 'basaltic lava flows, volcanic brecci;  with polymict conglomerate, quartzite, argillite and minor limestone']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
47075,Cl,Porhyritic silicic volcanic rocks interbededde...,EOv,"Liv Group (Taylor, Greenlee, Fairweather, Leve...",McGregor 1965
37964,Cl,"basaltic lava flows, volcanic brecci; with po...",Eq,Liberty Hills Formation,Craddock et al. 1986

['Dark to light-gray banded gneiss of sphene-bearing hornblende-biotite granodioritic and biotite granitic composition.'
 'brown argillite with lava flows; minor limestone and interbeds of shale, quartzite and greywacke; marine-deltaic']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
76181,Cs,Dark to light-gray banded gneiss of sphene-bea...,En,Serpan Gneiss,Schmidt et al. 1978
38237,Cs,brown argillite with lava flows; minor limesto...,Es,Springer Peak Formation,Craddock et al. 1986

['Complexly folded interbedded greywacke and slate'
 'greywacke, green and maroon argillite, quartzite and polymict conglomerate; locally intruded by sills and dikes of basalt and dacite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75004,Ch,Complexly folded interbedded greywacke and slate,Cs,Hannah Ridge Formation,Schmidt & Ford 1969
38763,Ch,"greywacke, green and maroon argillite, quartzi...",Es,Hyde Glacier Formation,Craddock et al. 1986

['seasonal water'
 'seasonal water: bodies of ice that melt seasonally or have once melted']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
90838,water,seasonal water,water,None,GeoMAP
39900,water,seasonal water: bodies of ice that melt season...,water,seasonal water,GeoMAP

['Undifferentiated dioritic to granitic orthogneiss; may be interlayered with some Skelton Group or other gneisses'
 'medium- to coarse-grained granodiorite orthogneiss; well-developed foliation, thin pegmatite segregations and mafic enclaves; cut by aplite and microgranite sheets']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54480,gu,Undifferentiated dioritic to granitic orthogne...,NOn,orthogneiss undifferentiated,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
40398,gu,medium- to coarse-grained granodiorite orthogn...,Mg,Haag Nunatak orthogneiss,Millar & Pankhurst 1987

['Holocene ice sheet margin till'
 'Youngest tills in moraines on margins of ice sheets, ice shelves, or large glaciers occupying the major valleys']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75275,Hti,Holocene ice sheet margin till,Hs,Holocene till ice sheet,GeoMAP
40443,Hti,Youngest tills in moraines on margins of ice s...,Hs,Holocene ice sheet margin till,GeoMAP

['Angular material forming talus: loose glacial material: scree and polygonal ground'
 'Colluvium and scree']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
40797,Qc,Angular material forming talus: loose glacial ...,Qs,colluvium and scree,GeoMAP
75189,Qc,Colluvium and scree,Qc,Quaternary colluvium,GeoMAP

['Massive homogeneous coarse equigranular biotite hornblende granite'
 'moderately to strongly foliated, medium- to coarse-grained, biotite-hornblende granodiorite and granite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
56912,grc,Massive homogeneous coarse equigranular biotit...,EOg,Catspaw Pluton,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
43075,grc,"moderately to strongly foliated, medium- to co...",Eg,Carlyon Granodiorite,Haskell et al. 1969b

['Massive and layered sills of dolerite up to at least 500m thick; dolerite dikes and bosses'
 'Massive and layered sills of dolerite; dolerite dikes and bosses']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
55687,ff,Massive and layered sills of dolerite up to at...,Jd,Ferrar Dolerite,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
43406,ff,Massive and layered sills of dolerite; dolerit...,Jd,Ferrar Dolerite,Haskell et al. 1965b

['Medium biotite granite, lesser granodiorite quartz monzonite and diorite, as discordant plutons or dikes; mostly unfoliated'
 'unfoliated, biotite-hornblende granodiorite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
58664,gfo,"Medium biotite granite, lesser granodiorite qu...",Eg,Hooper Intrusives,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
43414,gfo,"unfoliated, biotite-hornblende granodiorite",Eg,Cooper Granodiorite,Simpson 2002

['Gabbroic dioritic and monzonitic intrusives of variable grainsize, typically unfoliated; heterogeneous with mafic enclaves'
 'unfoliated, late-stage A-type biotite-granite with aplite and pegmatite dykes, locally contains tourmaline']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
59170,gam,Gabbroic dioritic and monzonitic intrusives of...,Nd,Skelton Mafic Intrusives,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
43477,gam,"unfoliated, late-stage A-type biotite-granite ...",Eg,Mulock Granite,Cottle 2002

['Undifferentiated intrusions of gabbro, diorite, granodiorite and/or granite; potentially foliated and gneissic'
 'massive to porphyritic granodiorites to monzogranites, granodiorite, granite or diorite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54441,g,"Undifferentiated intrusions of gabbro, diorite...",NOg,undifferentiated granitoid,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
43627,g,massive to porphyritic granodiorites to monzog...,EOg,undifferentiated granitoid,Skinner et al. 1976

['Unfoliated  homogeneous medium biotite granite, north side Mulock Glacier. Cross-cut by late stage quartz-rich dikes'
 'unfoliated  homogeneous medium biotite granite, north side Mulock Glacier. Cross-cut by late stage quartz-rich dikes']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
59633,gfk,Unfoliated homogeneous medium biotite granite...,Eg,Kehle Pluton,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
43642,gfk,unfoliated homogeneous medium biotite granite...,Eg,Kehle Pluton,Richardson 2002

['Unvisited exposed rock or cover deposits, nature unknown'
 'area known to be outcropping rock or cover deposits, exact nature of which is unknown']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43645,unk,"Unvisited exposed rock or cover deposits, natu...",?,unknown,Gunn & Warren 1962
54464,unk,area known to be outcropping rock or cover dep...,?,unknown,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['Unfoliated biotite granite, locally garnetiferous, rare hornblende; contains mafic enclaves; elongate pluton more mafic in centre'
 'biotite-hornblende quartz alkali-feldspar granitoid']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
58534,gfr,"Unfoliated biotite granite, locally garnetifer...",Eg,Radian Pluton,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
44106,gfr,biotite-hornblende quartz alkali-feldspar gran...,Eg,Reeves Bluffs adakite,Barber 2003

['Late-stage granitoids, homogeneous and massive to foliated; may include pegmatites and enclaves; postdate Vanda Dikes'
 'late-stage unfoliated muscovite-biotite granite and biotite granite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54573,gg,"Late-stage granitoids, homogeneous and massive...",EOg,late granitoid,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
44248,gg,late-stage unfoliated muscovite-biotite granit...,EOg,late granitoid,Goodge et al. 1993

['Massive homogeneous medium equigranular biotite granite and granodiorite'
 'post-tectonic muscovite-biotite granite, biotite monzonite and biotite granite, with minor granodiorite; medium to coarse-grained, commonly porphyritic, locally flow-aligned']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
57244,gfh,Massive homogeneous medium equigranular biotit...,Eg,Hedley Pluton,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
45339,gfh,"post-tectonic muscovite-biotite granite, bioti...",EOg,granite,Lindsay et al. 1973

['Massive hornblende-biotite granite at Cathedral Rocks, Camels Hump and Mt Essinger'
 'foliated K-feldspar megacrystic biotite-hornblende granodiorite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
57553,ggd,Massive hornblende-biotite granite at Cathedra...,EOg,Darkowski Pluton,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
45565,ggd,foliated K-feldspar megacrystic biotite-hornbl...,Eg,foliated granodiorite,Goodge 2008 unpublished

['Coarse sandstone and conglomerate; intercalated mudstone, some paleosols'
 'massive quartz sandstone, or interbedded quartz sandstone and micaceous silstone, with carbonaceous siltstone or shale']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54532,bvf,Coarse sandstone and conglomerate; intercalate...,Ts,Feather Conglomerate,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
45815,bvf,"massive quartz sandstone, or interbedded quart...",Ys,Beacon Fairchild Formation,Barrett et al. 1970

['Planar- and trough-cross-bedded granule conglomerate and medium sandstone; basal conglomerate and pebbly sandstone'
 'white, medium- to coarse-grained micaceous quartzose sandstone with cross-bedding, minor pebbly beds and interbedded siltstone and shale']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
59710,bta,Planar- and trough-cross-bedded granule conglo...,Ds,Altar Mountain Formation,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
45994,bta,"white, medium- to coarse-grained micaceous qua...",Ds,Beacon Alexandra Formation,Barrett et al. 1970

['Interbedded dark-green and dark-reddish-brown thin-bedded shale, siltstone, and fine-grained sandstone containing several beds, 3-10 m thick, of light-gray oolitic limestone.'
 'massive silicic pophyry with extrusive and hyperbyssal phases, locally foliated and cleaved']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
76125,Cw,Interbedded dark-green and dark-reddish-brown ...,Es,Wiens Formation,Schmidt et al. 1978
48327,Cw,massive silicic pophyry with extrusive and hyp...,Eg,Wyatt Formation,Davis & Blankenship 2005

['Basalt basanite trachybasalt and phonotephrite; including hawaiite, forming flows, dikes, scoria cones and pyroclastics'
 'olivine basalt, alkaline basalt and olivine tholeite sills and flows; locally forming pillow lava and breccia']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
55316,mvb,Basalt basanite trachybasalt and phonotephrite...,Czv,basalt and basanite,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
48573,mvb,"olivine basalt, alkaline basalt and olivine th...",Czb,Cenozoic volcanic rocks,Davis & Blankenship 2005

['Small plugs and sills of massive to variably foliated diorite, quartz monzodiorite, quartz diorite and minor gabbro'
 'gabbro, monzogabbro, minor diorite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54803,gm,Small plugs and sills of massive to variably f...,EOd,undifferentiated mafic intrusive,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
50016,gm,"gabbro, monzogabbro, minor diorite",EOd,undifferentiated mafic intrusives,Goodge et al. 1993

['Conglomerate, diamictite, pebbly quartzose sandstone and silty sandstone'
 'fissile well-bedded mudstone and silstone interbedded with minor white sandstone and carbonaceous siltstone']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
57158,bvm,"Conglomerate, diamictite, pebbly quartzose san...",Ys,Metschel Tillite,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
50220,bvm,fissile well-bedded mudstone and silstone inte...,Ys,Beacon Mackellar Formation,Barrett et al. 1970

['Trachyte' 'basanite, hawaiite, mugearite']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
63800,Hv_Nar1a,Trachyte,Czf,Hallett volcanic province,Nardini et al. 2003
63359,Hv_Nar1a,"basanite, hawaiite, mugearite",Czb,Hallett volcanic province,Nardini et al. 2003

['Loose lacustrine sand, silt, mud.'
 'Loose lacustrine sand, silt, mud; locally mixed with till']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75777,Qk,"Loose lacustrine sand, silt, mud.",Qs,lake deposits,GeoMAP
73018,Qk,"Loose lacustrine sand, silt, mud; locally mixe...",Qk,lake deposits,Mayewski et al. 1979a

['Beds moderately to strongly folded, secondary foliation common. Low grade metamorphism except near intrusive bodies.'
 'Dark-gray cordierite and hypersthene-bearing porphyry; probably a large, thick sill; principal rock of the Theil Mountains; age relationship to the Patuxent Formation unknown.']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
76871,pCm,"Beds moderately to strongly folded, secondary ...",Rzp,Precambrian metasedimentary rocks,Craddock 1972
76874,pCm,Dark-gray cordierite and hypersthene-bearing p...,Rzg,Quartz Monzonite Porphyry,Schmidt and Ford 1969

['Orthopyroxene-biotite-quartz-plagioclase gneiss (tonalitic orthogneiss); minor granodioritic to granitic orthogneiss, garnet-biotite-quartz-feldspar gneiss, metasediments, and mafic granulite'
 'Orthopyroxene-quartz-plagioclase gneiss (tonalitic orthogneiss); minor granitic orthogneiss, biotite-garnet-quartz-feldspar- gneiss, metasediments, and mafic granulite.']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
95112,Ppp,Orthopyroxene-biotite-quartz-plagioclase gneis...,Rzn,None,Sheraton 1985. Geology of Enderby Land and Wes...
95135,Ppp,Orthopyroxene-quartz-plagioclase gneiss (tonal...,Rzn,None,"AGSO, Bedrock Geology of the Bunger Hills-Denm..."

In [15]:
for i in descr_src_code_sets:
    print(i["SOURCECODE"].values)
    display(i)

['Hv_Cl002_3' 'Hv_HaC14a' 'Hv_LMA11b' 'Hv_Nar1a' 'Mev_WVF14b' 'Mev_WoF1b'
 'Pb_Hart97b' 'Pb_LMB12.3b' 'Pb_LMB16D.1c' 'Pb_LMB16b2' 'Pb_LeM033c'
 'Pb_LeM6b2' 'Pb_LeM7b3' 'Pb_Pan4b']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
63456,Hv_Cl002_3,Trachyte,Czf,Hallett volcanic province,"Hornig & Wörner, 2003"
61040,Hv_HaC14a,Trachyte,Czf,Hallett volcanic province,"Hamilton, 1972 (C-14)"
73792,Hv_LMA11b,Trachyte,Czf,Hallett volcanic province,LeMasurier & Thomson 1990 (Fig A.1.1)
63800,Hv_Nar1a,Trachyte,Czf,Hallett volcanic province,Nardini et al. 2003
73798,Mev_WVF14b,Trachyte,Czf,Melbourne volcanic province,Wörner & Viereck 1989 Fig14
62049,Mev_WoF1b,Trachyte,Czf,Melbourne volcanic province,Wörner et al. 1989 Fig1
41844,Pb_Hart97b,Trachyte,Czf,Marie Byrd Land Volcanics: trachyte,Hart et al. 1997
42489,Pb_LMB12.3b,Trachyte,Czf,Marie Byrd Land Volcanics: trachyte,LeMasurier & Thomson 1990 (Fig B.12.3)
41955,Pb_LMB16D.1c,Trachyte,Czf,Marie Byrd Land Volcanics: trachyte,LeMasurier & Thomson 1990 (Fig B.16D.1)
42495,Pb_LMB16b2,Trachyte,Czf,Marie Byrd Land Volcanics: trachyte,LeMasurier & Thomson 1990 (Fig B.16B.1)
41781,Pb_LeM033c,Trachyte,Czf,Marie Byrd Land Volcanics: trachyte,LeMasurier 2013 (Fig.3)
42534,Pb_LeM6b2,Trachyte,Czf,Marie Byrd Land Volcanics: trachyte,LeMasurier 2013 (Fig.6B)
41784,Pb_LeM7b3,Trachyte,Czf,Marie Byrd Land Volcanics: trachyte,LeMasurier 2013 (Fig.7B)
41829,Pb_Pan4b,Trachyte,Czf,Marie Byrd Land Volcanics: trachyte,Panter et al. 1994

['Pb_LM84b' 'Pb_LMB14.2d' 'Pb_LMB16D.1d' 'Pb_LeM3b3' 'Pb_LeM4b3'
 'Pb_LeM6b3']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
42095,Pb_LM84b,Marie Byrd Land Volcanics: undifferentiated,Czv,Marie Byrd Land Volcanics: undifferentiated,LeMasurier 1984
41970,Pb_LMB14.2d,Marie Byrd Land Volcanics: undifferentiated,Czv,Marie Byrd Land Volcanics: undifferentiated,LeMasurier & Thomson 1990 (Fig B.14.2)
41853,Pb_LMB16D.1d,Marie Byrd Land Volcanics: undifferentiated,Czv,Marie Byrd Land Volcanics: undifferentiated,LeMasurier & Thomson 1990 (Fig B.16D.1)
41801,Pb_LeM3b3,Marie Byrd Land Volcanics: undifferentiated,Czv,Marie Byrd Land Volcanics: undifferentiated,LeMasurier 2013 (Fig.3B)
41775,Pb_LeM4b3,Marie Byrd Land Volcanics: undifferentiated,Czv,Marie Byrd Land Volcanics: undifferentiated,LeMasurier 2013 (Fig.4B)
42938,Pb_LeM6b3,Marie Byrd Land Volcanics: undifferentiated,Czv,Marie Byrd Land Volcanics: undifferentiated,LeMasurier 2013 (Fig.6B)

['Mev_LMA61c' 'Pb_Kip14a' 'Pb_LMB14.2a' 'Pb_LeM4b1' 'Pb_LeM6b1' 'Pb_Pan4a']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
63621,Mev_LMA61c,Basanite,Czb,Melbourne volcanic province,LeMasurier & Thomson 1990 (Fig A.6.1)
42479,Pb_Kip14a,Basanite,Czb,Marie Byrd Land Volcanics: basalt,Kipf et al. 2014
41776,Pb_LMB14.2a,Basanite,Czb,Marie Byrd Land Volcanics: basalt,LeMasurier & Thomson 1990 (Fig B.14.2)
41804,Pb_LeM4b1,Basanite,Czb,Marie Byrd Land Volcanics: basalt,LeMasurier 2013 (Fig.4B)
42936,Pb_LeM6b1,Basanite,Czb,Marie Byrd Land Volcanics: basalt,LeMasurier 2013 (Fig.6B)
42091,Pb_Pan4a,Basanite,Czb,Marie Byrd Land Volcanics: basalt,Panter et al. 1994

['Hv_LMA11a' 'Hv_LMA21a' 'Hv_LMA31a' 'Hv_LMA41a']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
67610,Hv_LMA11a,"Predominantly basanite, basalt and hawaiite",Czb,Hallett volcanic province,LeMasurier & Thomson 1990 (Fig A.1.1)
61016,Hv_LMA21a,"Predominantly basanite, basalt and hawaiite",Czb,Hallett volcanic province,LeMasurier & Thomson 1990 (Fig A.2.1)
60975,Hv_LMA31a,"Predominantly basanite, basalt and hawaiite",Czb,Hallett volcanic province,LeMasurier & Thomson 1990 (Fig A.3.1)
61262,Hv_LMA41a,"Predominantly basanite, basalt and hawaiite",Czb,Hallett volcanic province,LeMasurier & Thomson 1990 (Fig A.4.1)

['Hts' 'uts' 'uts_ice']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
37965,Hts,"Surficial till on top of glacial ice and snow,...",Hs,supraglacial till,GeoMAP
54453,uts,"Surficial till on top of glacial ice and snow,...",Hs,supraglacial till,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
57459,uts_ice,"Surficial till on top of glacial ice and snow,...",Hs,supraglacial till,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['?' 'unk' 'unknown']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
40022,?,area known to be outcropping rock or cover dep...,?,unknown,GeoMAP
54464,unk,area known to be outcropping rock or cover dep...,?,unknown,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
40800,unknown,area known to be outcropping rock or cover dep...,?,unknown,GeoMAP

['Pb_LeM033a' 'Pb_LeM3b1' 'Pb_LeM7b1']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
42894,Pb_LeM033a,Hawaiite,Czb,Marie Byrd Land Volcanics: hawaiite,LeMasurier 2013 (Fig.3)
41773,Pb_LeM3b1,Hawaiite,Czb,Marie Byrd Land Volcanics: basalt,LeMasurier 2013 (Fig.3B)
41777,Pb_LeM7b1,Hawaiite,Czb,Marie Byrd Land Volcanics: hawaiite,LeMasurier 2013 (Fig.7B)

['Mev_KF912b' 'Pb_LMB14.2e' 'Pb_LeM033b']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
61140,Mev_KF912b,Phonolite,Czf,Melbourne volcanic province,Kyle 1982
41836,Pb_LMB14.2e,Phonolite,Czf,Marie Byrd Land Volcanics: phonolite,LeMasurier & Thomson 1990 (Fig B.14.2)
42007,Pb_LeM033b,Phonolite,Czf,Marie Byrd Land Volcanics: phonolite,LeMasurier 2013 (Fig.3)

['Hv_Cl301_3' 'Pb_LMB12.3a' 'Pb_LeM7b2']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
63470,Hv_Cl301_3,Mugearite,Czb,Hallett volcanic province,"Hornig & Wörner, 2003"
42956,Pb_LMB12.3a,Mugearite,Czb,Marie Byrd Land Volcanics: mugearite,LeMasurier & Thomson 1990 (Fig B.12.3)
42152,Pb_LeM7b2,Mugearite,Czb,Marie Byrd Land Volcanics: mugearite,LeMasurier 2013 (Fig.7B)

['Htl' 'ul' 'ul?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43662,Htl,Locally derived variably weathered till in mor...,Hs,Holocene local glacier till,Grindley & Laird 1969
54518,ul,Locally derived variably weathered till in mor...,Hs,local glacier till,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
55507,ul?,Locally derived variably weathered till in mor...,Hs,local glacier till - inferred,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['Qt' 'ut' 'ut?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
46963,Qt,Undifferentiated till in moraines of uncertain...,Qs,undifferentiated till,GeoMAP
54493,ut,Undifferentiated till in moraines of uncertain...,Qs,undifferentiated till,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
56178,ut?,Undifferentiated till in moraines of uncertain...,Qs,cover - inferred till,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['grd' 'gre' 'gri']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
55796,grd,Variably foliated coarse hornblende biotite al...,Eg,Denton Pluton,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
55212,gre,Variably foliated coarse hornblende biotite al...,Eg,Evans Pluton,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
54671,gri,Variably foliated coarse hornblende biotite al...,Eg,Discovery Pluton,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['1041' '1052' '1062']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
77020,1041,"Marble, calc-silicate and skarn occur as layer...",NEm,"Marble, calc-silicate and skarn",Norwegian Polar Institute
81601,1052,"Marble, calc-silicate and skarn occur as layer...",NEm,"Marble, calc-silicate and skarn",Norwegian Polar Institute
84844,1062,"Marble, calc-silicate and skarn occur as layer...",NEm,"Marble, calc-silicate and skarn",Norwegian Polar Institute

['1039' '1050' '1058']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
79090,1039,Dark-coloured layers and lenses of amphibolite...,NEn,Amphibolite,Norwegian Polar Institute
84329,1050,Dark-coloured layers and lenses of amphibolite...,NEn,Amphibolite,Norwegian Polar Institute
81499,1058,Dark-coloured layers and lenses of amphibolite...,NEn,Amphibolite,Norwegian Polar Institute

['1042' '1046' '1053']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
84677,1042,"Medium- to coarse-grained, granoblastic to lep...",NEn,Garnet-biotite gneiss,Norwegian Polar Institute
83956,1046,"Medium- to coarse-grained, granoblastic to lep...",NEn,Garnet-biotite gneiss,Norwegian Polar Institute
84515,1053,"Medium- to coarse-grained, granoblastic to lep...",NEn,Garnet-biotite gneiss,Norwegian Polar Institute

['Mv' 'Mv?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
10,Mv,"calc-alkaline volcanic suite, lava flows predo...",JKv,Antarctic Peninsula Volcanic Group,Fleming & Thomson 1979_Graham Land
443,Mv?,"calc-alkaline volcanic suite, lava flows predo...",JKv,"Antarctic Peninsula Volcanic Group, inferred",Fleming & Thomson 1979_Graham Land

['?' '?0']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
37093,?,rock outcrop of unknown lithology,?,outcrop of unknown rock type,Flowerdew & Haselwimmer 2011
20,?0,rock outcrop of unknown lithology,?,outcrop of unknown rock type,Burton-Johnson & Riley 2015

['I' 'I?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
55,I,felsic intrusive rocks (early Jurassic to earl...,JKg,felsic intrusive rocks (early Jurassic to earl...,Fleming & Thomson 1979_Graham Land
11169,I?,felsic intrusive rocks (early Jurassic to earl...,JKg,felsic intrusive rocks (early Jurassic to earl...,Thomson & Harris 1979_Southern Graham Land

['w' 'water']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
6504,w,seasonal water,water,water,Fleming & Thomson 1979_Graham Land
90838,water,seasonal water,water,None,GeoMAP

['Pb_LeM033d' 'Pb_LeM8b1']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
42900,Pb_LeM033d,Comendite,Czf,Marie Byrd Land Volcanics: comendite,LeMasurier 2013 (Fig.3)
41832,Pb_LeM8b1,Comendite,Czf,Marie Byrd Land Volcanics: comendite,LeMasurier 2013 (Fig.8B)

['Pb_LeM2c1' 'Pb_LeM2c1?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
42233,Pb_LeM2c1,Basalt flows and basaltic hydrovolcanic rocks,Czb,Marie Byrd Land Volcanics: basalt,LeMasurier 2013 (Fig.2C)
42237,Pb_LeM2c1?,Basalt flows and basaltic hydrovolcanic rocks,Czb,Marie Byrd Land Volcanics: basalt inferred,LeMasurier 2013 (Fig.2C)

['ff' 'ffu']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43406,ff,Massive and layered sills of dolerite; dolerit...,Jd,Ferrar Dolerite,Haskell et al. 1965b
54415,ffu,Massive and layered sills of dolerite; dolerit...,Jd,Ferrar - unnamed upper sill,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['s' 's?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43447,s,"Interlayered schist, psammitic schist, felsic ...",Nn,undifferentiated Skelton Group,Barber 2003
55861,s?,"Interlayered schist, psammitic schist, felsic ...",Nn,undifferentiated Skelton Group,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['bt' 'bt?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43503,bt,Planar- to trough-cross-bedded quartzose sands...,Ds,Taylor Group - undifferentiated,Grindley & Laird 1969
59644,bt?,Planar- to trough-cross-bedded quartzose sands...,Ds,Taylor Group - inferred,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['Qti2' 'uit2']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43686,Qti2,"Bouldery sandy till, locally matrix-rich and w...",Qs,older ice sheet margin till,Grindley & Laird 1969
56740,uit2,"Bouldery sandy till, locally matrix-rich and w...",Qs,Taylor 2 Drift,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['sm' 'sm?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43728,sm,White coarsely crystalline marble or impure gr...,Nm,marble,Richardson 2002
59563,sm?,White coarsely crystalline marble or impure gr...,Nm,marble inferred,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['Quc' 'uc']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43852,Quc,"Angular talus aprons, loose glacial material, ...",Qs,colluvium and scree,Grindley & Laird 1969
54478,uc,"Angular talus aprons, loose glacial material, ...",Qs,colluvium and scree,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['Qti3' 'Qti4']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
43875,Qti3,"Poorly sorted bouldery sandy till, slightly we...",Qs,older ice sheet margin till,Joy et al. 2014
43885,Qti4,"Poorly sorted bouldery sandy till, slightly we...",Qs,older ice sheet margin till,Storey et al. 2010

['bv' 'bv?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
44181,bv,Quartzose and feldspathic sandstone and siltst...,YTs,Victoria Group - undifferentiated,Laird et al. 1971
57323,bv?,Quartzose and feldspathic sandstone and siltst...,YTs,Victoria Group - inferred,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['ff' 'ff?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
55687,ff,Massive and layered sills of dolerite up to at...,Jd,Ferrar Dolerite,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
54416,ff?,Massive and layered sills of dolerite up to at...,Jd,Ferrar Dolerite - inferred,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['gr' 'gr?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54494,gr,Variably foliated or flow banded and segregate...,Eg,hornblende biotite granitoid,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
54555,gr?,Variably foliated or flow banded and segregate...,Eg,granitoid hornblende-biotite?,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['uic1' 'uic2']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54502,uic1,"Bouldery sandy till, clasts of dolerite, errat...",Hs,Convoy 1 Drift,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
54565,uic2,"Bouldery sandy till, clasts of dolerite, errat...",Qs,Convoy 2 Drift,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['uk' 'uk?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54552,uk,"Loose lacustrine sand, silt, mud; locally inte...",Qs,lacustrine deposit,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
58527,uk?,"Loose lacustrine sand, silt, mud; locally inte...",Qs,cover - lacustrine deposit?,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['gg' 'gg?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54573,gg,"Late-stage granitoids, homogeneous and massive...",EOg,late granitoid,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
54873,gg?,"Late-stage granitoids, homogeneous and massive...",EOg,granitoid - inferred late stage,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['Hb' 'ub']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
61597,Hb,"Loose beach sand, gravel, rounded boulders; ma...",Hs,Holocene beach and raised marine deposits,Ellerman & Kyle 1990
54610,ub,"Loose beach sand, gravel, rounded boulders; ma...",Hs,beach and stranded marine deposits,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['mv' 'mv?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
54987,mv,Basalt basanite phonolite and trachyte forming...,Czv,McMurdo Volcanics,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
55192,mv?,Basalt basanite phonolite and trachyte forming...,Czv,McMurdo Volcanics - inferred,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['ss' 'ss?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
55120,ss,Biotite schist and semi-schist with epidote or...,Nn,schist,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
57799,ss?,Biotite schist and semi-schist with epidote or...,Nn,schist,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['mvb' 'mvb?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
55316,mvb,Basalt basanite trachybasalt and phonotephrite...,Czv,basalt and basanite,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
56060,mvb?,Basalt basanite trachybasalt and phonotephrite...,Czv,basalt and basanite?,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['Hf' 'uf']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
69982,Hf,Gravel and fanglomerate forming alluvial fans;...,Hs,Holocene fan,GeoMAP
55351,uf,Gravel and fanglomerate forming alluvial fans;...,Qs,fan deposit,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['uir3' 'uir3t']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
60751,uir3,Moderately to highly weathered bouldery sandy ...,Qs,Ross Sea 3 Drift,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
55857,uir3t,Moderately to highly weathered bouldery sandy ...,Qs,Ross Sea 3 Drift Trilogy,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['grb' 'grb?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
55889,grb,Flow-foliated coarse hornblende biotite alkali...,Eg,Bonney Pluton,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
57682,grb?,Flow-foliated coarse hornblende biotite alkali...,Eg,Bonney Pluton - inferred,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['mirv' 'mirw']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
56301,mirv,Highly weathered loose unstratified coarse san...,Czs,Valkyrie Drift,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
56026,mirw,Highly weathered loose unstratified coarse san...,Czs,Wright Drift,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['gaa' 'gaa?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
58760,gaa,Biotite granite and subordinate syenite pluton...,NEg,Hillary Granitoids,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
58707,gaa?,Biotite granite and subordinate syenite pluton...,NEg,Hillary Granitoids - inferred,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['gam' 'gam?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
59170,gam,Gabbroic dioritic and monzonitic intrusives of...,Nd,Skelton Mafic Intrusives,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
59245,gam?,Gabbroic dioritic and monzonitic intrusives of...,Nd,Skelton Mafic Intrusives,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['gro' 'gro?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
59570,gro,"Medium hornblende biotite granodiorite, monzod...",NEg,hornblende-biotite granitoid,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
59583,gro?,"Medium hornblende biotite granodiorite, monzod...",NEg,hornblende-biotite granitoid - inferred,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['btb' 'btb?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
59643,btb,Cliff-forming planar- to cross-bedded medium t...,Ds,Beacon Heights Orthoquartzite,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."
59694,btb?,Cliff-forming planar- to cross-bedded medium t...,Ds,Beacon Heights Orthoquartzite,"Cox, S.C.; Turnbull, I.M.; Isaac, M.J.; Townse..."

['Mev_KF912c' 'Mev_LMA61b']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
70567,Mev_KF912c,"Peralkaline trachyte, quartz-trachyte, peralka...",Czf,Melbourne volcanic province,LeMasurier & Thomson 1990 (Fig A.6.1)
60905,Mev_LMA61b,"Peralkaline trachyte, quartz-trachyte, peralka...",Czf,Melbourne volcanic province,LeMasurier & Thomson 1990 (Fig A.6.1)

['Wgw' 'Wmg']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
60907,Wgw,Stromatic migmatite with minor agmatitic varie...,NOn,Wilson gneiss,GANOVEX 1987
60938,Wmg,Stromatic migmatite with minor agmatitic varie...,NOn,Murchison Formation,Capponi et al. 1997b

['PC-B' 'PC-B?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75001,PC-B,High to medium grade metasedimentary sequence ...,Rzx,Read Group,Thomson et al. 1995
75089,PC-B?,High to medium grade metasedimentary sequence ...,Rzx,Read Group (inferred),Thomson et al. 1995

['PP' 'PP?']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
75088,PP,"metasedimentary sequence of slate, siltstone a...",Ep,Wyeth Heights Formation,Thomson et al. 1995
75085,PP?,"metasedimentary sequence of slate, siltstone a...",Ep,Wyeth Heights Formation (inferred),Thomson et al. 1995

['1036' '1043']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
78057,1036,"Medium- to coarse-grained, garnet-rich quartz-...",NEn,Pelitic gneiss and schist,Norwegian Polar Institute
79244,1043,"Medium- to coarse-grained, garnet-rich quartz-...",NEn,Pelitic gneiss and schist,Norwegian Polar Institute

['1030' '1034']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
84369,1030,"Layered syenite; fine-grained, melanocratic sy...",NEg,Pyroxene syenite,Norwegian Polar Institute
81505,1034,"Layered syenite; fine-grained, melanocratic sy...",NEg,Pyroxene syenite,Norwegian Polar Institute

['1037' '1044']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
82945,1037,"Brown pyroxene-bearing gneiss, leucocratic gne...",NEn,Banded gneiss,Norwegian Polar Institute
84906,1044,"Brown pyroxene-bearing gneiss, leucocratic gne...",NEn,Banded gneiss,Norwegian Polar Institute

['1066' '1084']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
83310,1066,"Relatively homogeneous, faintly gneissic, gran...",NEn,Granitic gneiss and migmatite,Norwegian Polar Institute
85128,1084,"Relatively homogeneous, faintly gneissic, gran...",Mn,Granitic gneiss and migmatite,Norwegian Polar Institute

['1049' '1055']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
83634,1049,"Well-layered biotite-hornblende gneiss, layers...",NEn,Biotite-hornblende gneiss,Norwegian Polar Institute
83434,1055,"Well-layered biotite-hornblende gneiss, layers...",NEn,Biotite-hornblende gneiss,Norwegian Polar Institute

['1047' '1054']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
84084,1047,"The sillimanite-garnet-biotite gneiss, interca...",NEn,Sillimanite-garnet-biotite gneiss,Norwegian Polar Institute
84563,1054,"The sillimanite-garnet-biotite gneiss, interca...",NEn,Sillimanite-garnet-biotite gneiss,Norwegian Polar Institute

['1051' '1061']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
84647,1051,"Dark grey, poorly foliated, dark-coloured mafi...",NEe,Mafic granulite/mafic lenses,Norwegian Polar Institute
84372,1061,"Dark grey, poorly foliated, dark-coloured mafi...",NEe,Mafic granulite/mafic lenses,Norwegian Polar Institute

['1040' '1045']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
84907,1040,"Dark-coloured, mafic and ultramafic rocks meta...",NEe,Banded gneisses (metavolcanics),Norwegian Polar Institute
84797,1045,"Dark-coloured, mafic and ultramafic rocks meta...",NEe,Mafic gneiss and schist/mafic lenses and dikes,Norwegian Polar Institute

['CGD' 'Qm']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
92081,CGD,"Moraines, mostly ice-cored on tops or flanks o...",Qs,None,AGSO. Geology of the Northern Vestfold Hills (...
85580,Qm,"Moraines, mostly ice-cored on tops or flanks o...",Qs,,GeoMAP

['Ago' 'Atg']

,SOURCECODE,DESCR,MAPSYMBOL,NAME,SOURCE
85708,Ago,Medium grained orthopyroxene-clinopyroxene-pla...,An,Glider Lake sub-Suite of Tryne Mafic gneiss.,AGSO. Geology of the Northern Vestfold Hills (...
85865,Atg,Medium grained orthopyroxene-clinopyroxene-pla...,An,Tryne Mafic Gneiss,AGSO. Geology of the Northern Vestfold Hills (...